@using Cosmos.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Welcome to @GlobalConstants.SystemName!</h1>
    <img src="~/images/i98vXju.jpg" class="img-fluid" />
</div>
