@{
    this.ViewData["Title"] = "Welcome to the Starship Dealer!";
}
<h1>@this.ViewData["Title"]</h1>
<h2 class="text-center">Here you will find starship for each race!</h2>
<div>
    <img src="~/images/1525416612_starship-corporation-skidrow.jpg" class="img-fluid" style="margin-left: 330px"/>
</div>
<div class="text-center; row mt-2 mb-4">
    <a href="ByRace?Race=Xollian">
        <p class="text-center">Xollians</p>
        <img src="~/images/Xollian.jpg" class="img-fluid" alt="Xollian" style="width:260px;height:200px; margin-left: 15px">
    </a>
    <a href="ByRace?Race=Paragon">
        <p class="text-center">Paragon Primes</p>
        <img src="~/images/Paragon.jpg" class="img-fluid" alt="Paragon" style="width:260px;height:200px; margin-left: 15px">
    </a>
    <a href="ByRace?Race=Mawlor">
        <p class="text-center">Mawlors</p>
        <img src="~/images/Mawlor.jpg" class="img-fluid" alt="Mawlor" style="width:260px;height:200px; margin-left: 15px">
    </a>
    <a href="ByRace?Race=Zyck'lirg">
        <p class="text-center">Zyck'lirg</p>
        <img src="~/images/Zyck.jpg" class="img-fluid" alt="Zyck'lirg" style="width:260px;height:200px; margin-left: 15px">
    </a>
</div>
